extends base

block content

          h2.heading-secondary.ma-bt-md YOUR BOOKINGS

          if bookings.length
            table.data-table
              thead
                tr
                  th Tours
                  th Amount Paid
                  th Date
                  th Status
              tbody
                each booking in bookings
                  tr
                    td #{booking.tours.map(item => item.tour.name).join(', ')}
                    td $#{booking.totalPrice}
                    td #{booking.createdAt.toLocaleString('en-US')}
                    td 
                      if booking.status === 'paid'
                        span(style='color:green') Paid
                      else if booking.status === 'pending'
                        span(style='color:orange') Pending
                      else if booking.status === 'cancelled'
                        span(style='color:red') Cancelled
                      else
            h2.heading-secondary.ma-bt-md You have no bookings yet.
