extends base

block content
  main.main
    .error
      .error__title
        h2.heading-secondary.heading-secondary--error Thank you for your booking!   
        h2.error__emoji 🎉
      .error__msg= msg
     
block scripts
  script(src='/js/handleCartSuccess.js')