extends base

block content
  main.main
    .error
      .error__title
        h2.heading-secondary.heading-secondary--error Your payment was cancelled
        h2.error__emoji 😕
      .error__msg Sorry, your booking was not completed. You can try again or contact support if you need help.
